.todolist {
	border-radius: 4px;
	background: #edeef0;
	min-width: 360px;

	box-shadow: 0 1px 0 0 #dce1e6, 0 0 0 1px #e7e8ec;
	padding: 10px;

	.title {
		display: block;
		font-size: 25px;
		font-weight: 500;
		margin-bottom: 10px;
		text-align: center;
	}

	.tasks {
		background: #fff;
	}

	.textField {
		position: relative;
		border-bottom: 1px solid #cbcbcf;
		display: flex;
		align-items: center;
		gap: 10px;

		.button {
			height: 30px;
			width: 30px;
			border-radius: 100%;
			padding: 5px 8px;
			margin-right: 5px;
			font-size: 18px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-color: black;
			cursor: pointer;
		}

		input {
			width: 100%;
			padding: 10px 5px 10px 25px;
			border: none;
			background-color: inherit;
			font-size: 18px;

			&::placeholder {
				opacity: 0.5;
			}

			&:focus {
				outline: none;
			}
		}

		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 15px;
			left: 10px;
			height: 5px;
			width: 5px;
			border-left: 2px solid black;
			border-top: 2px solid black;
			transform: rotate(225deg);
			opacity: 0.3;
		}
	}

	.bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 5px;
		gap: 20px;

		button {
			background-color: inherit;
			cursor: pointer;
			padding: 0 3px;
			border-radius: 4px;
			opacity: 0.7;
		}

		.itemsCount {
			font-size: 12px;
			opacity: 0.7;
		}

		.buttonsFilter {
			display: flex;
			gap: 5px;
		}
	}
}
